.hover_content-3 {
  width: 100%;
}
.nav-2 {
  right: 0;
  top: 0;
  position: absolute;
  margin: 0px;
  padding: 0px;
}
.nav-2 li {
  list-style: none;
  display: grid;
}
.nav-2 li a {
  background: #03a2cc;
  color: white;
  padding: 8px 10px;
}

.photo-area {
  position: relative;
}
.nav-3 {
  /* bottom: 0;
  position: absolute; */
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.hover_content-3 {
  bottom: 0;
  position: absolute;
  padding: 0px 20px;
}
.nav-3 li:nth-child(2) {
  background: grey;
}
.nav-3 li {
  list-style: none;
  margin-bottom: 10px;
  background: #03a2cc;
  padding: 10px 15px;
}
.nav-3 li a {
  text-align: center;
  color: white;
  font-size: 13px;
}
.photo-area {
  width: 100%;
}
.photo-area img {
  width: 100%;
  height: 100%;
}
